body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:800px;
    display:flex;
    height:300px;
}
.text1{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 2s;
}
.pic1{
    width:50%;
    overflow: hidden;
}
img{
    width:400px;
    height:300px;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.container:hover{
    filter: grayscale(50%);
}
.container:hover .text1{
    background-color: lightslategray;
}  

.container:hover img{
        transform:scale(1.3)
}  